# generated ocall related files
ocall.mk
ocall_table.cpp

## generated ocall stubs
#accept.s
#bind.s
#close.s
#connect.s
#gen_ocall_stub.py
#getaddrinfo.s
#getsockopt.s
#gettimeofday.s
#listen.s
#push_gadget.s
#puts.s
#read.s
#recv.s
#send.s
#setsockopt.s
#signal.s
#socket.s
#time.s
#write.s
#open.s
#recvfrom.s
#clock.s
#fstat.s
#getenv.s
#gethostname.s
#getprotobynumber.s
#getservbyname.s
#getsockname.s
#gmtime.s
#htonl.s
#htons.s
#localtime.s
#lseek.s
#mktime.s
#ntohl.s
#ntohs.s
#sendto.s
#shutdown.s
